<h1>ユーザー一覧</h1>

<center>
  <!-- ページネーション表示 -->
  <%= page_entries_info @users, entry_name: "ユーザー"  %>
  <table>
    <% @users.each do |users| %>
      <tr>
        <td width=500>
          <ol class="microposts">
            <li>
              <% if current_user.following?(users) %>
                フォローしています。<br />
              <% end %>
              <%#= link_to gravatar_for(users, size: 50), users %>
              <% if users.avatar.present? %>
                <%= image_tag users.avatar.url, :size => '80x80',class: "gravatar"%>
              <% else %>
                <%= image_tag('no_image.png',{:size => '80x80',class: "gravatar"}) %>
              <% end %>
              <%= users.name %><br />
              <%= link_to t("view_profile"), users %>
            </li>
          </ol>
        </td>
      </tr>
    <% end %>
  </table>
  <%= paginate @users %>
</center>