<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<center><h3>プロフィール</h3></center>

<hr />

<center>
  <table><td width=500>
    <div class="table-responsive">
      <table class="table table-striped" border=0>
        <tr>
          <td>
            <%= User:: AREA_LABEL %>
          </td>
          <td>
            <%= @user.area %>
          </td>
        </tr>
        <tr>
          <td>
            <%= User::PHONE_LABEL %>
          </td>
          <td>
            <%= @user.phone %>
          </td>
        </tr>
        <tr>
          <td>  
            <%= User::PROFILE_LABEL %>
          </td>
          <td>
            <%= simple_format(@user.profile) %>
          </td>
        </tr>
      </table>
    </div>
  </td></table>
</center>

<hr />
