<%#= link_to gravatar_for(current_user, size: 50), current_user %>
<% if current_user.avatar.present? %>
  <%= image_tag current_user.avatar.url, :size => '80x80',class: "gravatar"%>
<% else %>
  <%= image_tag('no_image.png',{:size => '80x80',class: "gravatar"}) %>
<% end %>

<h1><%= current_user.name %></h1>

<span><%= link_to t('view_profile'), current_user %></span>
<span><%= "#{current_user.microposts.count} #{'投稿'}" %></span>