<li id="micropost-<%= micropost.id %>">
  
  <%# origin_idにリツイート元IDが格納されているか？(nil判定) %>
  <% if micropost.origin_id.present? #リツイート元ユーザー %>
    <% retweet_post = Micropost.find(micropost.origin_id) %>
    <%= micropost.user.name %>さんがリツイート<br />
    <%#= link_to gravatar_for(retweet_post.user, size: 50), retweet_post.user %>
    <% if retweet_post.user.avatar.present? %>
      <%= image_tag retweet_post.user.avatar.url, :size => '80x80',class: "gravatar"%>
    <% else %>
      <%= image_tag('no_image.png',{:size => '80x80',class: "gravatar"}) %>
    <% end %>
    <span class="user"><%= link_to retweet_post.user.name, retweet_post.user %></span>
  <% else # 通常のユーザー%>
    <%#= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <% if micropost.user.avatar.present? %>
      <%= image_tag micropost.user.avatar.url, :size => '80x80',class: "gravatar" %>
    <% else %>
      <%= image_tag('no_image.png',{:size => '80x80',class: "gravatar"}) %>
    <% end %>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <% end %>
  
  <table border=0>
    <td>
      <%= simple_format(micropost.content) %>
    </td>
  </table>
  
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <br />
    <!--削除リンク-->
    <% if current_user == micropost.user %>
      <%= link_to image_tag('delete.png',{:border => '0', :alt => 'ツイート削除'}), 
                        micropost, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
    
    <!--リツイート-->
    <% if current_user != micropost.user  #マイクロポストの投稿者が現在のユーザーのものか？違う %>
      <%# origin_idにリツイート元IDが格納されているか？(nil判定) %>
      <% if micropost.origin_id.present? %>
        
        <% if current_user == micropost.user#自分の投稿であれば %>
          <%= link_to image_tag('retweet_on.png',{:border => '0', :alt => 'リツイート解除'}), 
                        retweet_path(micropost, redirect_url: request.url), method: :delete %>
          <%= Micropost.where(origin_id: micropost.origin_id).count %>
        <% else %>      
          <%= link_to image_tag('retweet_off.png',{:border => '0', :alt => 'リツイート登録'}), 
                        retweets_path(content: micropost.content, retweeted_id: micropost.id, redirect_url: request.url), method: :post %>
          <%= Micropost.where(origin_id: micropost.id).count %>
        <% end %>
      <% else %>
        <%# 現在ユーザーにリツイートされているか？ %>
        <% if current_user.microposts.pluck(:origin_id).compact.include?(micropost.id) %>
          <%# されていれば解除を表示%>
          <%= link_to image_tag('retweet_on.png',{:border => '0', :alt => 'リツイート解除'}), 
                        retweet_path(micropost,
                        delete_id: current_user.microposts.find_by(origin_id: micropost.id).id, 
                        redirect_url: request.url), method: :delete %>
          <%= Micropost.where(origin_id: micropost.id).count %>
        <%# されてなければ登録を表示%>
        <% else %>
          <%= link_to image_tag('retweet_off.png',{:border => '0', :alt => 'リツイート登録'}), 
                        retweets_path(content: micropost.content, retweeted_id: micropost.id, redirect_url: request.url), method: :post %>
          <%= Micropost.where(origin_id: micropost.id).count %>
        <% end %>
      <% end %>
    <% else %>  
      <% if micropost.origin_id.present? %>
        <%= link_to image_tag('retweet_on.png',{:border => '0', :alt => 'リツイート解除'}), 
                      retweet_path(micropost, redirect_url: request.url), method: :delete %>
        <%= Micropost.where(origin_id: micropost.origin_id).count %>
      <% else %>
        <%= image_tag('retweet_off.png',{:border => '0', :alt => 'リツイート'}) %>
        <%= Micropost.where(origin_id: micropost.id).count %>
      <% end %>
    <% end %>
    
    <!--お気に入り-->
    <% if current_user.bookmarking?(micropost) %>
      <%= link_to image_tag('star_G.png',{:border => '0', :alt => 'お気に入り解除'}),
                        bookmark_path(micropost, redirect_url: request.url), method: :delete %>
      <%= micropost.bookmarking_users.count %>
    <% else %>
      <%= link_to image_tag('star_B.png',{:border => '0', :alt => 'お気に入り登録'}),
                        bookmarks_path(post_id: micropost.id, redirect_url: request.url), method: :post %>
      <%= micropost.bookmarking_users.count %>
    <% end %>
  </span>
</li>